# Example of Data Preprocessing with already completed data
Use already completed data for the table join process.

In [10]:
import polars as pl
import numpy as np
from sklearn.datasets import fetch_openml

from pytred import DataHub
from pytred import DataNode
from pytred.annotations import polars_table

## Make Dataset
This example uses the titanic dataset.  
A column named "record_id" is added as a Key to join data.

In [11]:
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)
df_titanic = pl.from_pandas(X).with_columns(
    survived=y.values.astype(int),
    record_id=np.arange(len(X)),
)
display(df_titanic)

shape: (1_309, 15)
┌────────┬──────────────────┬────────┬────────┬───┬───────┬─────────────────┬──────────┬───────────┐
│ pclass ┆ name             ┆ sex    ┆ age    ┆ … ┆ body  ┆ home.dest       ┆ survived ┆ record_id │
│ ---    ┆ ---              ┆ ---    ┆ ---    ┆   ┆ ---   ┆ ---             ┆ ---      ┆ ---       │
│ i64    ┆ str              ┆ cat    ┆ f64    ┆   ┆ f64   ┆ str             ┆ i64      ┆ i64       │
╞════════╪══════════════════╪════════╪════════╪═══╪═══════╪═════════════════╪══════════╪═══════════╡
│ 1      ┆ Allen, Miss.     ┆ female ┆ 29.0   ┆ … ┆ null  ┆ St Louis, MO    ┆ 1        ┆ 0         │
│        ┆ Elisabeth Walton ┆        ┆        ┆   ┆       ┆                 ┆          ┆           │
│ 1      ┆ Allison, Master. ┆ male   ┆ 0.9167 ┆ … ┆ null  ┆ Montreal, PQ /  ┆ 1        ┆ 1         │
│        ┆ Hudson Trevor    ┆        ┆        ┆   ┆       ┆ Chesterville,   ┆          ┆           │
│        ┆                  ┆        ┆        ┆   ┆       ┆ ON              ┆          ┆           │
│ 1      ┆ Allison, Miss.   ┆ female ┆ 2.0    ┆ … ┆ null  ┆ Montreal, PQ /  ┆ 0        ┆ 2         │
│        ┆ Helen Loraine    ┆        ┆        ┆   ┆       ┆ Chesterville,   ┆          ┆           │
│        ┆                  ┆        ┆        ┆   ┆       ┆ ON              ┆          ┆           │
│ 1      ┆ Allison, Mr.     ┆ male   ┆ 30.0   ┆ … ┆ 135.0 ┆ Montreal, PQ /  ┆ 0        ┆ 3         │
│        ┆ Hudson Joshua    ┆        ┆        ┆   ┆       ┆ Chesterville,   ┆          ┆           │
│        ┆ Creig…           ┆        ┆        ┆   ┆       ┆ ON              ┆          ┆           │
│ 1      ┆ Allison, Mrs.    ┆ female ┆ 25.0   ┆ … ┆ null  ┆ Montreal, PQ /  ┆ 0        ┆ 4         │
│        ┆ Hudson J C       ┆        ┆        ┆   ┆       ┆ Chesterville,   ┆          ┆           │
│        ┆ (Bessie…         ┆        ┆        ┆   ┆       ┆ ON              ┆          ┆           │
│ …      ┆ …                ┆ …      ┆ …      ┆ … ┆ …     ┆ …               ┆ …        ┆ …         │
│ 3      ┆ Zabour, Miss.    ┆ female ┆ 14.5   ┆ … ┆ 328.0 ┆ null            ┆ 0        ┆ 1304      │
│        ┆ Hileni           ┆        ┆        ┆   ┆       ┆                 ┆          ┆           │
│ 3      ┆ Zabour, Miss.    ┆ female ┆ null   ┆ … ┆ null  ┆ null            ┆ 0        ┆ 1305      │
│        ┆ Thamine          ┆        ┆        ┆   ┆       ┆                 ┆          ┆           │
│ 3      ┆ Zakarian, Mr.    ┆ male   ┆ 26.5   ┆ … ┆ 304.0 ┆ null            ┆ 0        ┆ 1306      │
│        ┆ Mapriededer      ┆        ┆        ┆   ┆       ┆                 ┆          ┆           │
│ 3      ┆ Zakarian, Mr.    ┆ male   ┆ 27.0   ┆ … ┆ null  ┆ null            ┆ 0        ┆ 1307      │
│        ┆ Ortin            ┆        ┆        ┆   ┆       ┆                 ┆          ┆           │
│ 3      ┆ Zimmerman, Mr.   ┆ male   ┆ 29.0   ┆ … ┆ null  ┆ null            ┆ 0        ┆ 1308      │
│        ┆ Leo              ┆        ┆        ┆   ┆       ┆                 ┆          ┆           │
└────────┴──────────────────┴────────┴────────┴───┴───────┴─────────────────┴──────────┴───────────┘

## Preprocessing list

Implement a DataHub class that performs these preprocessing tasks
1. replace "male" with 1 and "female" with 0
2. fill in missing values of age with the mean
3. sum of sibsp and parch
4. onehot encoding of embarked

In this example, we have a table that has already been preprocessed, and we will demonstrate a case where only joining is performed. In this case, the DataNode class is utilized.

### Preparing the Preprocessed Table

In [15]:
# replace "male" with 1 and "female" with 0
replaced_sex = df_titanic.select(
    "record_id",
    "sex",
    sex_replaced=pl.when(pl.col("sex") == "male").then(1).otherwise(0),
)

# fill in missing values of age with the mean
age_mean = df_titanic.select("age").mean().to_numpy()[0][0]

filled_age = df_titanic.select(
    "record_id",
    "age",
    filled_age=pl.col("age").fill_null(age_mean),
)

# sum of sibsp and parch
cnt_family = df_titanic.select(
    "record_id",
    "sibsp",
    "parch",
    cnt_family=pl.col("sibsp") + pl.col("parch"),
)

# onehot encoding of embarked
onehot_embarked = df_titanic.select(
    "record_id",
    "embarked",
    embarked_C=pl.when(pl.col("embarked") == "C").then(1).otherwise(0),
    embarked_Q=pl.when(pl.col("embarked") == "Q").then(1).otherwise(0),
    embarked_S=pl.when(pl.col("embarked") == "S").then(1).otherwise(0),
)

## Associating table joining information with each table

The DataNode class can manage data, its management name within DataHub, and the methods for joining.

In [19]:
dn_replaced_sex = DataNode(
    table=replaced_sex,
    keys=["record_id"],
    join="left",
    name="replaced_sex",
)

dn_filled_age = DataNode(
    table=filled_age,
    keys=["record_id"],
    join="left",
    name="filled_age",
)

dn_cnt_family = DataNode(
    table=cnt_family,
    keys=["record_id"],
    join="left",
    name="cnt_family",
)

dn_onehot_embarked = DataNode(
    table=onehot_embarked,
    keys=["record_id"],
    join="left",
    name="onehot_embarked",
)

## Preprocessing Data

In [22]:
data_hub = DataHub(
    df_titanic.select("record_id"),
    dn_replaced_sex,
    dn_filled_age,
    dn_cnt_family,
    dn_onehot_embarked,
)

output = data_hub()

display(output)

shape: (1_309, 12)
┌───────────┬────────┬──────────────┬────────┬───┬──────────┬────────────┬────────────┬────────────┐
│ record_id ┆ sex    ┆ sex_replaced ┆ age    ┆ … ┆ embarked ┆ embarked_C ┆ embarked_Q ┆ embarked_S │
│ ---       ┆ ---    ┆ ---          ┆ ---    ┆   ┆ ---      ┆ ---        ┆ ---        ┆ ---        │
│ i64       ┆ cat    ┆ i32          ┆ f64    ┆   ┆ cat      ┆ i32        ┆ i32        ┆ i32        │
╞═══════════╪════════╪══════════════╪════════╪═══╪══════════╪════════════╪════════════╪════════════╡
│ 0         ┆ female ┆ 0            ┆ 29.0   ┆ … ┆ S        ┆ 0          ┆ 0          ┆ 1          │
│ 1         ┆ male   ┆ 1            ┆ 0.9167 ┆ … ┆ S        ┆ 0          ┆ 0          ┆ 1          │
│ 2         ┆ female ┆ 0            ┆ 2.0    ┆ … ┆ S        ┆ 0          ┆ 0          ┆ 1          │
│ 3         ┆ male   ┆ 1            ┆ 30.0   ┆ … ┆ S        ┆ 0          ┆ 0          ┆ 1          │
│ 4         ┆ female ┆ 0            ┆ 25.0   ┆ … ┆ S        ┆ 0          ┆ 0          ┆ 1          │
│ …         ┆ …      ┆ …            ┆ …      ┆ … ┆ …        ┆ …          ┆ …          ┆ …          │
│ 1304      ┆ female ┆ 0            ┆ 14.5   ┆ … ┆ C        ┆ 1          ┆ 0          ┆ 0          │
│ 1305      ┆ female ┆ 0            ┆ null   ┆ … ┆ C        ┆ 1          ┆ 0          ┆ 0          │
│ 1306      ┆ male   ┆ 1            ┆ 26.5   ┆ … ┆ C        ┆ 1          ┆ 0          ┆ 0          │
│ 1307      ┆ male   ┆ 1            ┆ 27.0   ┆ … ┆ C        ┆ 1          ┆ 0          ┆ 0          │
│ 1308      ┆ male   ┆ 1            ┆ 29.0   ┆ … ┆ S        ┆ 0          ┆ 0          ┆ 1          │
└───────────┴────────┴──────────────┴────────┴───┴──────────┴────────────┴────────────┴────────────┘